@import url(./fonts.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Section 1 */
@import url(./section1/header.css);
@import url(./section1/nav.css);
@import url(./section1/basket.css);
@import url(./section1/card.css);
@import url(./section1/product.css);
@import url(./section1/menu.css);
@import url(./section1/block_menu.css);

/* Section 2 */
@import url(./section2/biography.css);
@import url(./section2/jordan.css);
@import url(./section2/text-card.css);

/* Section 3 */
@import url(./section3/related-products.css);
@import url(./section3/roll.css);

/* Section 4 */
@import url(./section4/footer.css);
@import url(./section4/links.css);
@import url(./section4/help.css);
@import url(./section4/about.css);
@import url(./section4/social-media.css);

/* Responsive */
@import url(./responsive.css);
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  user-select: none;
  width: 100vw;
  height: max-content;
  overflow-x: hidden !important;
}

img {
  -webkit-user-drag: none;
}

.presentation {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(../assets/img/banner.jpg);
  background-size: cover;
  background-position: center;
  filter: brightness(1.1);
  background-repeat: no-repeat;
  background-attachment: fixed;
}


