.social-medias
{
    width: 36%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
    right: 1vw;
}

.social-medias h4.title
{
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    margin: .3rem 0;
    width: 100%;
    text-transform: uppercase;
    text-align: right;
}

.social-medias div.row
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.social-medias div.row i{
    margin: 0 5px;
    font-size: 1.3rem;
    color: #7e7e7e !important;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.social-medias div.row i:hover
{
    color: #fff !important;
}